html {
  background-color: #191919;
  padding: 0;
  margin: 0;
  list-style: none;
}

.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.sound {
  cursor: pointer;
  padding: 5px;
  height: 150px;
  min-width: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1.75em;
  text-align: center;
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;
  border: 5px solid black;
  border-radius: 10px;
}

.drunk {
  background-image: url("images/drunk.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.el-pueblo {
  background-image: url("images/el-pueblo.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.game{ 
  background-image: url("images/game.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.gitan{
  background-image: url("images/gitan.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.kassos{ 
  background-image: url("images/kassos.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.palmashow{ 
  background-image: url("images/palmashow.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.rave{ 
  background-image: url("images/rave.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.reaction{ 
  background-repeat: no-repeat;
  background-position: center; 
}

.reaction-palmashow{ 
  background-image: url("images/palmashow.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.rap{ 
  background-image: url("images/rap.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.subway{ 
  background-image: url("images/subway.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}
